:local {
    .read {
        margin-left: 0.3rem;
        white-space: nowrap;
    }

    .post {
        background: white;
        border-radius: 2px;
        padding: 1rem;
        margin: 1rem auto;
    }
}
